{% extends "base.html" %}
{% load static %}

{% block title %}
   Elige tu Elemento
{% endblock %}

{% block content %}
    <div class="element-selection">
        <h1>Elige tu elemento</h1>

        <div class="elements-container" id="elements-container">
            <a href="{% url 'elemento_tierra' %}" class="element">
                <img src="{% static 'img/simboloTierra.jpg' %}" alt="Tierra" title="Tierra"> 
            </a>
        
            <a href="{% url 'elemento_agua' %}" class="element">
                <img src="{% static 'img/simboloAgua.jpg' %}" alt="Agua" title="Agua">
            </a>
        
            <a href="{% url 'elemento_fuego' %}" class="element">
                <img src="{% static 'img/simboloFuego.jpg' %}" alt="Fuego" title="Fuego">
            </a>
        
            <a href="{% url 'elemento_aire' %}" class="element">
                <img src="{% static 'img/simboloAire.jpg' %}" alt="Aire" title="Aire">
            </a>
        </div>
        
{% endblock %}

{% block extra_js %}

{% endblock %}
            